{% extends "layout.html" %}

{% block title %}
    About this app
{% endblock %}

{% block main %}

<h2 class="popup">About OSG</h2>

<article>
    <div class="popup">
        <p>OSG stands for Online Survey Generator.</p>
        <p>It lets every registerd user to generate their own survey and publish it on the site.</p>
        <p>Any other user is allowed to vote in all available surveys. Results are displeyed as a bar chart.</p>
        <p>You can use search form to find the survey you want by its title, creator or the date it was added to the database.</p>
        <p>All deleted surveys are archived, but still available for result check.</p>
        <p>Please, respect others and do not publish offensive content.</p>
        <p>And remeber to have fun!</p>
    </div>
</article>

{% endblock %}
