{% extends "layout.html" %}

{% block title %}
    Archive
{% endblock %}

{% block header %}
    
{% endblock %}

{% block main %}
<h2 style="text-align: center";>Deleted surveys</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Survey's title</th>
            <th>Creator</th>
            <th>Time of creation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for survey in surveys %}
            <form action="/osurgen/handle_form" method="post">
                <tr>
                    <td>{{ survey['survey_id'] }}</td>
                    <td>{{ survey['question'] }}</td>
                    <td>{{ survey['username'] }}</td>
                    <td>{{ survey['time'] }}</td>
                    <input name="id" type="hidden" value="{{ survey['survey_id'] }}">
                    <td>                 
                        <button class="btn btn-primary" type="submit" name="action" value="results">Show results</button>
                    </td>
                </tr>
            </form>
        {% endfor %}
    </tbody>
</table>
{% endblock %}