{% extends "layout.html" %}

{% block title %}
    Survey Generator
{% endblock %}

{% block header %}
    <p class="popup">Generate a survey</p>
    <p class="popup">{{ warning }}</p>
{% endblock %}

{% block main %}
<form action="/generate" method="post">
    <fieldset class="fieldset">
        <legend>
            Enter question for your survey
        </legend>
        <input autofocus class="form-control mx-auto w-auto" type="text" name="question" id="questionField">
    </fieldset>
    <br>
    <fieldset class="fieldset">
        <legend>
            Provide options for you survey
        </legend>
        <div class="mb-3">
             <input autocomplete="off" class="form-control mx-auto w-auto" id="option" placeholder="Option" type="text">
        </div>
        <button class="btn btn-primary" type="button" onclick="add_option()">Add an option</button>
    </fieldset>
    <br>
    <fieldset class="fieldset">
        <legend>
            This option will be added to your survey:
        </legend>
            <div>
                <ol id="options_list" style="list-style-position: inside;">
                </ol>
            </div>
    </fieldset>
    <br>
    <div class="fieldset">
        <button class="btn btn-primary" type="submit">Make a survey</button>
    </div>
</form>

{% endblock %}

{% block script %}
    <script>
        function add_option() {
            let option = document.getElementById("option").value;
            let list = document.getElementById("options_list");
            let new_item = document.createElement("li");
            list.appendChild(new_item);
            let form_option = document.createElement("input");
            form_option.setAttribute("type", "text"); //A.I. helped with setting the attributes for newly created elements
            form_option.setAttribute("readonly", true);
            form_option.setAttribute("name", "option");
            form_option.value = option;
            new_item.appendChild(form_option);
            document.getElementById("option").value = "";
            let deleteButton = document.createElement("span")
            new_item.appendChild(deleteButton);
            deleteButton.textContent = "Delete"
            deleteButton.setAttribute("class", "deleteButton")
        
            deleteButton.addEventListener("click", function() {
                list.removeChild(new_item);
            });
        }    
    </script>
{% endblock %}