{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block header %}
    
{% endblock %}

{% block main %}
    <h2 class="popup">Search for a survey</h2>
    <br>

    <div class="row">
        <div class="col-3">
            <input id="search_inputq" class="form-control" type="search" name="q" autocomplete="off" autofocus placeholder="Search by survey's title">
        </div>
        <div class="col-3">
            <input id="search_inputc" class="form-control" type="search" name="c" autocomplete="off" placeholder="Search by survey's creator">
        </div>
        <div class="col-6 d-flex flex-column">
            <form action="/osurgen/search_date" method="post">
                <fieldset>
                <legend>
                    Search by date range:
                </legend>
                <div class="d-flex justify-content-between">
                    <div class="col-5">
                        <label for="date_start">Start date:</label>
                        <input id="date_start" class="form-control" type="date" name="date_start">
                    </div>
                    <div class="col-5">
                        <label for="date_end">End date:</label>
                        <input id="date_end" class="form-control" type="date" name="date_end">
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary w-30" type="submit">Submit</button>
                </div>
                </fieldset>
            </form>
        </div>
    </div>

    <br>

    <table>
        <thead>
            <tr>
                <th>Survey's title</th>
                <th>ID</th>
                <th>Time of creation</th>
                <th>Creator</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <form action="/osurgen/handle_form" method="post">
                <tr>
                    <td>{{ survey['question'] }}</td>
                    <td>{{ survey['survey_id'] }}</td>
                    <td>{{ survey['time'] }}</td>
                    <td>{{ survey['username'] }}</td>
                    <input name="id" type="hidden" value="{{ survey['survey_id'] }}">
                    <td>                 
                    {% if survey['survey_id'] in vote_check: %}
                        <button class="btn btn-primary" type="submit" name="action" value="results">Show results</button>
                    {% else: %}
                        <button class="btn btn-primary" type="submit" name="action" value="vote">Vote</button>                        
                    {% endif %}

                    {% if user == survey["username"]: %}
                        /
                            <button class="btn btn-primary" type="submit" name="action" value="delete">Delete</button>
                    {% endif %}
                    </td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block script %}

    <script>
        let inputq = document.querySelector("#search_inputq")
        inputq.addEventListener("input", async function() {

            response = await fetch("/osurgen/search_responseq?q=" + inputq.value);

            //data will contain 3 different parts of resposne
            let data = await response.json();
            
            //parts of response are set as JS variables for different logic operations. This is all carried out on the user's side based on data sent from the server as a response
            let surveys = data.surveys;
            let user = data.user
            let vote_check = data.vote_check;

            let table = document.querySelector("tbody");
            table.innerHTML = "";
            
            surveys.forEach(function(survey) {
                let form = document.createElement("form");
                let row = document.createElement("tr");
                let form_input = document.createElement("input");
                let id = survey["survey_id"];
                let action = document.createElement("td");

                //Object.values() returns values of an object-parameter. forEach loop iterates through all the values returned
                Object.values(survey).forEach(function(value) {
                    let cell = document.createElement("td");
                    cell.innerHTML = value;
                    row.appendChild(cell);
                })
                
                if (vote_check.includes(id)) {
                    let button_results = document.createElement("button");
                    button_results.innerHTML = "Show results";
                    button_results.setAttribute("value", "results");
                    button_results.setAttribute("type", "submit");
                    button_results.setAttribute("name", "action");
                    button_results.classList.add("btn");
                    button_results.classList.add("btn-primary");
                    form.appendChild(button_results);
                } else {
                    let button_vote = document.createElement("button");
                    button_vote.innerHTML = "Vote";
                    button_vote.setAttribute("value", "vote");
                    button_vote.setAttribute("type", "submit");
                    button_vote.setAttribute("name", "action");
                    button_vote.classList.add("btn");
                    button_vote.classList.add("btn-primary");
                    form.appendChild(button_vote);
                }
                if (survey.username == "{{  session['username'] }}") {
                    let space = document.createElement("span");
                    space.innerHTML = " / ";
                    let button_delete = document.createElement("button");
                    button_delete.innerHTML = "Delete";
                    button_delete.setAttribute("value", "delete");
                    button_delete.setAttribute("type", "submit");
                    button_delete.setAttribute("name", "action");
                    button_delete.classList.add("btn");
                    button_delete.classList.add("btn-primary");
                    form.appendChild(space);
                    form.appendChild(button_delete);
                }

                form_input.setAttribute("value", id);
                form_input.setAttribute("name", "id");
                form_input.setAttribute("type", "hidden");
                form.setAttribute("action", "/osurgen/handle_form");
                form.setAttribute("method", "post");
        
                form.appendChild(form_input);
                action.appendChild(form);
                row.appendChild(action);                
                table.appendChild(row);
            });
        });
        
        let inputc = document.querySelector("#search_inputc")
        inputc.addEventListener("input", async function() {

            response = await fetch("/osurgen/search_responsec?c=" + inputc.value);

            //data will contain 3 different parts of resposne
            let data = await response.json();
            
            //parts of response are set as JS variables for different logic operations. This is all carried out on the user's side based on data sent form the server as a response
            let surveys = data.surveys;
            let user = data.user
            let vote_check = data.vote_check;

            let table = document.querySelector("tbody");
            table.innerHTML = "";
            
            surveys.forEach(function(survey) {
                let form = document.createElement("form");
                let row = document.createElement("tr");
                let form_input = document.createElement("input");
                let id = survey["survey_id"];
                let action = document.createElement("td");

                //Object.values() returns values of an object-parameter. forEach loop iterates through all the values returned
                Object.values(survey).forEach(function(value) {
                    let cell = document.createElement("td");
                    cell.innerHTML = value;
                    row.appendChild(cell);
                })
                
                if (vote_check.includes(id)) {
                    let button_results = document.createElement("button");
                    button_results.innerHTML = "Show results";
                    button_results.setAttribute("value", "results");
                    button_results.setAttribute("type", "submit");
                    button_results.setAttribute("name", "action");
                    button_results.classList.add("btn");
                    button_results.classList.add("btn-primary");
                    form.appendChild(button_results);
                } else {
                    let button_vote = document.createElement("button");
                    button_vote.innerHTML = "Vote";
                    button_vote.setAttribute("value", "vote");
                    button_vote.setAttribute("type", "submit");
                    button_vote.setAttribute("name", "action");
                    button_vote.classList.add("btn");
                    button_vote.classList.add("btn-primary");
                    form.appendChild(button_vote);
                }
                if (survey.username == "{{  session['username'] }}") {
                    let space = document.createElement("span");
                    space.innerHTML = " / ";
                    let button_delete = document.createElement("button");
                    button_delete.innerHTML = "Delete";
                    button_delete.setAttribute("value", "delete");
                    button_delete.setAttribute("type", "submit");
                    button_delete.setAttribute("name", "action");
                    button_delete.classList.add("btn");
                    button_delete.classList.add("btn-primary");
                    form.appendChild(space);
                    form.appendChild(button_delete);
                }

                form_input.setAttribute("value", id);
                form_input.setAttribute("name", "id");
                form_input.setAttribute("type", "hidden");
                form.setAttribute("action", "/osurgen/handle_form");
                form.setAttribute("method", "post");
        
                form.appendChild(form_input);
                action.appendChild(form);
                row.appendChild(action);                
                table.appendChild(row);
            });
        });
    </script>

{% endblock %}