{% extends "layout.html" %}

{% block title %}
    Vote
{% endblock %}

{% block header %}
    <p class="popup">{{ warning }} </p>
{% endblock %}


{% block main %}
<fieldset class="fieldset">
    <legend>{{ question }}</legend>
    <form action="/results" method="post">
        <div class="mb-3">
            <input type="hidden" name="survey" value="{{ survey_id }}">
            {% for option in vote_options %}
            <input name="chosen" type="radio" value="{{ option }}" required>
            <label class="option">{{ option }}</label>
            {% endfor %}
        </div>

        <button class="btn btn-primary" type="submit">Vote</button>
    </form>
</fieldset>
{% endblock %}